fastapi
uvicorn
httpx
python-dotenv
pydantic
anthropic
upstash-redis

langchain
langchain-core
langchain-community
langchain-huggingface
langchain-chroma
langchain-text-splitters

chromadb
sentence-transformers